<div class = "header">
  <div class = "container">
    <div class = "row">
      <div class ="col-xs-8">
      <div class = "menu">
        <ul>
          <li><a href = "#">Welcome</a></li>
          <li><a href = "#">Portfolio</a></li>
          <li><a href = "#">Blog</a></li>
          <li><a href = "#">About</a></li>
          <li><a href = "#">Contact</a></li>
        </ul>
      </div>
  </div>
      <div class ="col-xs-4">
      <div class = "name">
        <h1>Nguyễn Thị Hiền</h1>
    </div>
  </div>
</div>
<div class = "main_home">
  <div class = "jombotron">
    <div class = "container">
      <h2>My name is <span class = "hightlight" >Nguyen Thi Hien</span> and I have creative ideas and builds website</h2>
      <a class = "btn right" href = "#">View my Work</a>
    </div>
  </div>
</div>
<div class="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <ul class="socialmedia">
            <li><a class="twitter" href="#">twitter</a></li>
            <li><a class="linkedin" href="#">linkedin</a></li>
            <li><a class="github" href="#">github</a></li>
        	</ul>
        </div>
        <div class="clear"></div>
        <div class="col-md-12 text-right">
        	<p>&copy 2015 Nguyen Thi Hien</p>
        </div>
      </div>
        
    </div>
</div>